<h2>Add new event</h2>
<div class="form-group">
        <label for="tb-event-title">Title:</label>
        <input type="text" class="form-control" id="tb-event-title" />
</div>
      <div class="form-group">
        <label for="tb-event-category">Category:</label>
        <input class="form-control" id="tb-event-category" />
      </div>
      <div class="form-group">
        <label for="tb-event-date">Date:</label>
        <input class="form-control" id="tb-event-date" />
      </div>
      <div class="form-group">
        <label for="tb-event-time">Time:</label>
        <input class="form-control" id="tb-event-time" />
      </div>
      <div class="form-group">
        <label for="tb-event-desc">Description:</label>
        <input class="form-control" id="tb-event-desc" />
      </div>
<button class="btn btn-success" id="btn-event-add">Add</button>