<h2>Add new TODO</h2>
<div class="form-group">
        <label for="tb-todo-text">Text:</label>
        <input type="text" class="form-control" id="tb-todo-text" />
</div>
      <div class="form-group">
        <label for="tb-todo-category">Category:</label>
        <input class="form-control" id="tb-todo-category" />
      </div>
<button class="btn btn-success" id="btn-todo-add">Add</button>