<h2>Add new material!</h2>
<div class="form-group">
        <label for="tb-material-title">Title:</label>
        <input type="text" class="form-control" id="tb-material-title" />
</div>
      
      <div class="form-group">
        <label for="tb-material-desc">Description:</label>
        <input class="form-control" id="tb-material-desc" />
      </div>
<button class="btn btn-success" id="btn-material-add">Add</button>

